.page-on-top {

    background-color: bisque;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    border: 2px solid rgba(61, 61, 61, 0.534);
    color: dimgrey;
}

.body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;


}

.log-in-button {
    margin: 0;
    position: absolute;
    padding: 40px 70px;
    border-radius: 80%;
    background-color: bisque;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 60%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: dimgrey;
}

.register-button {
    margin: 0;
    position: absolute;
    padding: 40px 70px;
    border-radius: 80%;
    background-color: bisque;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 60%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: dimgrey;

}

.description-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid;
    height: 300px;
    width: 400px;
    background-color: bisque;
    border-radius: 10%;
    border: 2px solid rgba(61, 61, 61, 0.534);
    color: dimgrey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.description-h2 {
    text-align: center;

}

.register-form {
    background-color: bisque;
    color: dimgrey;
    position: absolute;
    left: 620px;
    height: 700px;
    width: 500px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;

}
.login-form {
    background-color: bisque;
    color: dimgrey;
    position: absolute;
    left: 620px;
    height: 330px;
    width: 500px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;

}
.register-form input, .register-form select, .login-form input {
    background-color: lightgrey;
    color: dimgrey;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 250px;
}

.register-button-in-reg-form, .login-button-in-log-form {
    height: 40px;
    width: 120px;
    background-color: bisque;
    color: dimgrey;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid dimgray;
    border-radius: 5px;


}
.validation-message {
    display: block; /* Ensure it takes a full line */
    color: red;
     /* Add space before the message */
}
.workerIdentityDiv {
    height: 90px;
    width: 100%;
    text-align: center;

}