<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory Metrics</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>

</head>
<body class="body">
    <h1 class="page-on-top">Factory Metrics</h1>

<div>
    <button class="log-in-button" id="loadLoginPage">Login</button>
</div>
<div class="description-div">
    <h2 class="description-h2">
        Hello
    </h2>
    <h3>To see what happens in our factory, <br>
        please log in!
        Here you can see everything about <br>
        your co-worker
        and you can check work which <br>
        is done by him.
    </h3>
</div>


</body>
</html>