<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory Metrics</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>

</head>
<body class="body">

<header>
    <h1 class="page-on-top">Factory Metrics</h1>
</header>

<div class="description-div">
    <h2 class="description-h2">
        Welcome in our factory!
    </h2>
    <h3>To see what happens in our factory, <br> please log in! <br>
        Here you can see everything <br> about your co-worker <br>
        and you can check work <br> which is done by him.
    </h3>
</div>
<div>
    <button class="log-in-button" id="loadLoginPage">Login</button>
    <button class="register-button" id="loadRegisterPage">Register</button>
</div>


</body>
</html>