<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/login.js" defer></script>
</head>
<body class="body">
<header>
    <h1 class="page-on-top">Factory Metrics</h1>
</header>
<div class="login-form">
    <h1>Login here:</h1>
    <form action="/user/login" method="POST">
        <fieldset>
            <div class="workerIdentityDiv">
                <label for="workerIdentity">Your identity:</label><br>
                <input type="text" id="workerIdentity"/><br>

            </div>
            <div class="workerIdentityDiv">
                <label for="password">Password:</label><br>
                <input type="password" id="password"/><br>
            </div>
            <button type="submit" id="submitButton" class="login-button-in-log-form">Login</button>
        </fieldset>
    </form>
</div>
</body>
</html>